.li_a:hover {
  background-color: #eaeaea;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.ul > li {
  float: left;
}

.a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.a:hover {
  background-color: rgb(97, 96, 202);
}
